<div style="text-align: center;">
    <a
        class="gfm-charity-donate-link"
        style="
            background-color: #ee72f1;
            color: black;
            border-radius: 4px;
            padding: 12px 24px;
            display: inline-block;
            text-decoration: none;
            vertical-align: middle;
            font-size: 16px;
            line-height: 24px;
        "
        role="button"
        href="https://charity.gofundme.com/donate/project/xi-endowment/xi-fellowship"
        >Donate</a
    >
</div>
